@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap");

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  /* 모드 화이트 / 블랙 */
  --color-white: oklch(97% 0 0);
  --color-black: oklch(20.5% 0 0);
}

:root {
  font-family: "Noto Sans KR", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

.scrollbar-hidden {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
